---
---
body {
    background-color: lightgray;
}

h1, h2, h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 20px;
}

p, li {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 20px;
    max-width: 40em;
}

#title-dmitrii {
    color: black;
    font-size: larger;
}

#title-semikin {
    color: black;
    font-size: larger;
}

#title-xyz {
    color: rgb(121, 121, 121);
    font-size: smaller;
}

#title-base {
    color: rgb(121, 121, 121);
}
